@inherits BadActorBaseComponent;

<style>
        .machineGroup.DropTarget {
            box-shadow: 0 0 8px #9ecaed;
        }

        .machineGroup hr {
            border-top: 1px solid var(--ba-border-color-light);
        }

        .machineGroup .application {
            font-size: .75em;
            opacity: .75;
        }
</style>

<div class="purple machineGroup @CSSClasses @machinesClass"
     @ondrop="@(e => HandleDrop())" ondragover="event.preventDefault();">
    @foreach (Application application in Machines.FirstOrDefault().Applications)
    {
        <div class="application green mdi mdi-application"> @application.Name</div>
    }
    @if (Machines.FirstOrDefault().Applications.Count > 0)
    {
        <hr />
    }
    <span class="mdi mdi-skull-crossbones"> @ComputingPower x @Machines.Count</span>
</div>

@code {
    [Parameter]
    public ComputingPower ComputingPower { get; set; }

    [Parameter]
    public List<Machine> Machines { get; set; }

    private string machinesClass => appState.ApplicationBeingDragged != null ? "DropTarget" : null;

    private async Task HandleDrop()
    {
        appState.ApplicationBeingDragged.RunOnMachines(Machines);
        foreach(Machine machine in Machines)
        {
            // this eventually shouldn't be bidirectional ...
            machine.RunApplication(appState.ApplicationBeingDragged);
        }
    }
}