:root {
    --ba-font-color: white;
    --ba-border-color-light: rgb(51, 51, 51);
}

body {
    background-color: #222;
    color: var(--ba-font-color);
    border-color: var(--ba-border-color-light);

    text-shadow: 0 0 5px #C8C8C8;

    font: 1em Inconsolata monospace;
    font-family: 'Lucida Console';
}

h1, h2, h3, h4, h5, h6 {
    color: #777;
    text-shadow: 0 0 2px #555;
}

.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
}

.content {
    z-index: 2;
}

.green {
    color: rgb(25, 245, 25);
    text-shadow: 0 0 2px rgba(200, 245, 200, .8);
}

.purple {
    color: rgb(150, 20, 180);
    text-shadow: 0 0 2px rgba(200, 27, 240, .8);
}
