<style>
    .titleCard {
        color: #555;
        text-shadow: 0px 1px 0px rgba(255,255,255,.5);
        font-family: "Century Gothic", "Helvetica", sans-serif;
        font-weight: bold;
        text-align: center;
        user-select: none;

        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }

        .titleCard h1 {
            color: #555;
            text-shadow: 0px 1px 0px rgba(255,255,255,.5);
        }
</style>

<div class="titleCard">
    <p>kinexys presents</p>
    <h1>Bad Actor</h1>
    <p>a game about breaking in, taking control, and spreading out</p>
    <p>and apparently about spending all damn morning fussing with Blazor and react</p>
</div>
