@inherits LayoutComponentBase
<!--
<div class="sidebar">
    <NavMenu />
</div>
-->

    <div class="main">

        <BadActor.UI.Applications />

        <BadActor.UI.Machines />

        <BadActor.UI.Resources />

        <BadActor.UI.Vectors />

        <div class="content">
            @Body
        </div>
    </div>

<!-- https://github.com/Blazored/Modal -->
<BlazoredModal />

@code {

    [Inject]
    IModalService modalService { get; set; }

    [Inject]
    public CreateInstances createInstances { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // modalService.Show<ModalComponent>("test");

        base.OnAfterRender(firstRender);
    }
}
