@inject AppState appState;

<style>
    #ApplicationsContainer {
        left: .5em;
    }

        #ApplicationsContainer .application {
            padding: .5em;
            cursor: grab;
        }

            #ApplicationsContainer .application:active {
                cursor: grabbing;
            }

        #ApplicationsContainer > .btn {
            margin-bottom: 1em;
        }
</style>

<div id="ApplicationsContainer">
    <button class="btn btn-outline-primary mdi mdi-application" @onclick="ToggleMenu">
        Apps
    </button>

    <div class="@MenuCssClass">
        @foreach (GameObjects.Application application in GameObjects.Application.list)
        {
            <div class="application" draggable="true"
                 @ondragstart="@(e => ApplicationDragStart(application))" @ondragend="@ApplicationDragEnd">
                @application.name
            </div>
        }
    </div>
</div>

@code {

    private bool collapseMenu = true;

    private string MenuCssClass => collapseMenu ? "collapse" : null;

    private void ToggleMenu()
    {
        collapseMenu = !collapseMenu;
    }

    private void ApplicationDragStart(Application application)
    {
        appState.ApplicationBeingDragged = application;
    }

    private void ApplicationDragEnd()
    {
        appState.ApplicationBeingDragged = null;
    }
}
