<style>
    #MachinesContainer {
        position: fixed;
        bottom: .5em;
        left: .5em;
    }

    #MachinesContainer h4 {
        text-decoration: dotted;
        text-decoration-line: underline;
    }

    .machine {
        border: 1px solid;
        border-color: var(--ba-border-color-light);
        display: inline-block;
        padding: 1.5em;
    }
</style>

<div id="MachinesContainer">

    <h4>machines</h4>

    @foreach (GameObjects.Machine machine in GameObjects.Machine.list)
    {
        <div class="machine">
            <span class="mdi mdi-desktop-classic"> @machine.name</span>
        </div>
    }
</div>
