@inject AppState appState;

<style>
    #ObjectivesContainer h4 {
        text-decoration: dotted;
        text-decoration-line: underline;
    }
</style>

<div id="ObjectivesContainer">
    @foreach (Objective objective in Objective.List)
    {
        <h4>@objective.Name</h4>
        <br />
        <span class="@getObjectiveClass(objective)"> @getDescription(objective)</span>
    }
</div>

@code {

    private MarkupString getDescription(Objective objective)
    {
        return (MarkupString)objective.Description;
    }

    private string getObjectiveClass(Objective objective)
    {
        return objective.Complete ? "mdi mdi-checkbox-marked-outline" : "mdi mdi-checkbox-blank-outline";
    }

    public void RedrawNeeded(Type filter)
    {
        if (filter != null && !filter.Equals(typeof(Objective)))
        {
            return;
        }

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        appState.RedrawNeeded += RedrawNeeded;
    }
}
