@inject AppState appState;

<style>
    #ObjectivesContainer h4 {
        text-decoration: dotted;
        text-decoration-line: underline;
    }
</style>

<div id="ObjectivesContainer">
    @foreach (Objective objective in Objective.List)
    {
        <h4>@objective.Name</h4>
        @foreach (Objective.ObjectiveCriteria criteria in objective.CriteriaForObjective)
        {
            <span class="@getObjectiveClass(criteria)"> @getDescription(criteria)</span>
            <br />
        }
    }
</div>

@code {

    private MarkupString getDescription(Objective.ObjectiveCriteria criteria)
    {
        return (MarkupString)criteria.Description;
    }

    private string getObjectiveClass(Objective.ObjectiveCriteria criteria)
    {
        return criteria.Met ? "mdi mdi-checkbox-marked-outline" : "mdi mdi-checkbox-blank-outline";
    }

    public void RedrawNeeded(Type filter)
    {
        if (filter != null && !filter.Equals(typeof(Objective)))
        {
            return;
        }

        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        appState.RedrawNeeded += RedrawNeeded;
    }
}
