@inherits BadActorBaseComponent;

<div id="ResourcesContainer">
    @foreach (Resource resource in Resource.List)
    {
        <span class="@resource.Icon" title="@resource.Name"> @Math.Round(resource.Value, 2)</span>
    }
</div>

@code {
    public void RedrawNeeded(Type filter)
    {
        if (filter != null && !filter.Equals(typeof(Resource)))
        {
            return;
        }
        
        StateHasChanged();
    }
    
    protected override async Task OnInitializedAsync()
    {
        appState.RedrawNeeded += RedrawNeeded;
    }
}
