@inject AppState appState;

<div id="ResourcesContainer">
    @foreach (Resource resource in Resource.List)
    {
        <span class="@resource.Icon" title="@resource.Name"> @Math.Round(resource.Value, 2)</span>
    }
</div>

@code {
    public void RedrawNeeded()
    {
        StateHasChanged();

        appState.NeedsRedraw = false;
    }


    protected override async Task OnInitializedAsync()
    {
        appState.RedrawNeeded += RedrawNeeded;
    }
}
