<CollapsibleMenu MenuName="Infiltration Vectors" MenuNameShort="Vectors" MenuIcon="mdi mdi-ray-start-arrow"
                 MenuClasses="purple" HandleClasses="purple">
    @foreach (InfiltrationVector vector in InfiltrationVector.List)
    {
        <div class="vector">@vector.DisplayName</div>
    }
</CollapsibleMenu>
